{% extends 'base.html.twig' %}

{% block title %}My books!{% endblock %}

{% block body %}
<h2>My books</h2>
<div class="book-grid">
    {% for book in books %}
        <div class="book-image-container">
            <div class="book-image">
                <img class = "book-img" src="{{ asset(book.image) }}" alt="Cover image for {{book.title}} "/> <br>
            </div>
        </div>
        <div class = "book-info-container">
        <div class ="book-title">
            <p>Title:</p>
            {{book.title}}
        </div>
        <div class="book-author">
            <p>Author:</p>
            {{book.author}}
        </div>
        <div class="book-isbn">
            <p>ISBN:</p>
            {{book.isbn}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

