<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="text/javascript" src="{{ asset('js/main.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header class="site-header">
                <div class="site-title">
                    <h1>Framework - ORM</h1>
                </div>
            </header>
         {% endblock %}
         <main class = "main">
         <nav>
            <a href="{{ path('index') }}">Home</a>
            <a href="{{ path('app_lucky_number') }}">Lucky number</a>
            <a href="{{ path('app_dice_throw') }}">Throw some dice</a>
            <a href="{{ path('app_game21_play') }}">Game21</a>
            <a href="{{ path('app_yatzy_play') }}">Yatzy</a>
            <a href="{{ path('app_find_all_yatzy_high_score') }}">Yatzy High Scores</a>
            <a href="{{ path('app_find_all_book') }}">My books</a>
        </nav>
        {% block body %}{% endblock %}
    </main>
    </body>
</html>
